@model DAL.Employee

@{
    ViewBag.Title = "Accueil";
}
<div class="container conteneur">
    <h2>Accueil</h2>

    <div class="well text-info">
        <h3><span class="glyphicon glyphicon-star"></span> Votre manager : @Html.ViewBag.EmployeManager</h3>

    </div>
    @if (ViewBag.isManager == true)
    {
        <div class="well">
            <h4><span class="glyphicon glyphicon-user"></span> Gestion des employés</h4>
            <hr />
            <a href="@Url.Action("Create","Employees", new { id = ViewBag.IdEmployee })" , class="btn btn-success">
                Ajouter un employé
                <span class="glyphicon glyphicon-plus"></span>
            </a>

            <a href="@Url.Action("ListEmployee","Employees", new { id = ViewBag.IdEmployee })" class="btn btn-info">
                Liste de vos employés
                <span class="glyphicon glyphicon-list"></span>
            </a>
            @*<p>
                    @Html.ActionLink("Liste employé", "ListEmployee", new { id = ViewBag.IdEmployee })
                </p>*@
        </div>
    }

    <div class="well">
        <h4><span class="glyphicon glyphicon-folder-close"></span> Gestion des clients</h4>
        <a href="@Url.Action("Create","Clients", new { id = ViewBag.IdEmployee })" class="btn btn-success">
            Ajouter un client
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a href="@Url.Action("Index","Clients", new { id = ViewBag.IdEmployee })" class="btn btn-info">
            Liste des clients
            <span class="glyphicon glyphicon-list"></span>
        </a>
    </div>
</div>