@model DAL.Account

@{
    ViewBag.Title = "Delete";
}

<div class="well">
    <h3>Etes-vous sur de vouloir supprimer ce compte?</h3>
    <div>
        @*<h4>Account</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BankCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BranchCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BranchCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Key)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Key)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IBAN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IBAN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BIC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BIC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Balance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>

        </dl>*@

        @using (Html.BeginForm($"DeleteSaving/{ViewBag.IdCompte}", "Accounts",FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AccountID)
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    Supprimer
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                
                @*@Html.ActionLink("Back to List", "Index")*@
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="CloseModalDel()">
                    Annuler 
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        }
    </div>
</div>
