@model BackEndASP.ViewModels.EditAccountViewModel

@{
    ViewBag.Title = "Details du compte sélectionné";
}

@*Fenêtre modale de confirmation de la suppression de la carte bancaire*@
@if (TempData["Delete"]?.ToString() == "Success")
{
    <div id="modalEditSuccess" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Suppression de carte bancaire</h4>
                </div>
                <div class="modal-body alert alert-info">
                    <p>La carte bancaire a été supprimée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="CloseDiv">
                        Fermer
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
}

@*Fenêtre modale de confirmation de modification de la carte bancaire*@
@if (TempData["Edit"]?.ToString() == "Success")
{
    <div id="modalEditSuccess" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modification de la carte bancaire</h4>
                </div>
                <div class="modal-body alert alert-info">
                    <p>La carte bancaire a été modifiée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="CloseDiv">
                        Fermer
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
}

@*Fenêtre modale de confirmation de création de la carte bancaire*@
@if (TempData["Create"]?.ToString() == "Success")
{
    <div id="modalEditSuccess" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Création de la carte bancaire</h4>
                </div>
                <div class="modal-body alert alert-info">
                    <p>La carte bancaire a été créée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="CloseDiv">
                        Fermer
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
}

@if (Model.TypeCompte == "Deposit")
{
    <h2>Détails du compte courant sélectionné</h2>

    <div class="well">
        <div class="entete-titre">
            <h4>
                RIB : <b>@Model.EditDeposit.GetRib()</b>
            </h4>
            <div class="btn-group" style="margin-left:30px;">
                <a class="small btn btn-warning"
                   href="@Url.Action("Edit","Accounts",
                    new { id = Model.PersonID, typecompte = Model.TypeCompte, idcompte = Model.EditDeposit.AccountID })">
                    Modifier <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="small btn btn-success"
                   href="@Url.Action("Create","Accounts", new {id = Model.PersonID, typecompte = Model.TypeCompte})">
                    Créer <span class="glyphicon glyphicon-plus-sign"></span>
                </a>

                <a class="small btn btn-info" href="@Url.Action("Index","Accounts",new { id = Model.PersonID })">
                    Retour
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </div>
        </div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.IBAN)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.IBAN)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.BIC)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.BIC)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.Balance)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.Balance)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.CreationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.AutorizedOverdraft)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.AutorizedOverdraft)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.FreeOverdraft)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.FreeOverdraft)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditDeposit.OverdraftChargeRate)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditDeposit.OverdraftChargeRate)
            </dd>
        </dl>


    </div>
    @Html.Partial("../Cards/Index")
}
else
{
    <h2>Détails du compte épargne sélectionné</h2>

    <div class="well">
        <div class="entete-titre">
            <h4> RIB : <b>@Model.EditSaving.GetRib()</b></h4>
            <div class="btn-group" style="margin-left:30px;">
                <a class="btn btn-warning"
                   href="@Url.Action("Edit","Accounts",
                    new { id = Model.PersonID, typecompte = Model.TypeCompte, idcompte = Model.EditSaving.AccountID })
               ">
                    Modifier <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-success"
                   href="@Url.Action("Create","Accounts", new {id = Model.PersonID, typecompte = Model.TypeCompte})">
                    Créer <span class="glyphicon glyphicon-plus-sign"></span>
                </a>

                <a class="btn btn-info" href="@Url.Action("Index","Accounts",new { id = Model.PersonID })">
                    Retour
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </div>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.IBAN)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.IBAN)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.BIC)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.BIC)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.Balance)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.Balance) €
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.MinimumAmount)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.MinimumAmount)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.MaximumAmount)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.MaximumAmount)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.InterestRate)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.InterestRate)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => Model.EditSaving.MaximumDate)
            </dt>
            <dd>
                @Html.DisplayFor(m => Model.EditSaving.MaximumDate)
                @*@Convert.ToDateTime(Model.EditSaving.MaximumDate).ToString("dd/MM/yyyy")*@
            </dd>
        </dl>
    </div>
}
