@*@model IEnumerable<DAL.Account>*@
@model BackEndASP.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Liste des comptes du client";
}

@*Fenetre modale pour la confirmation de suppression*@
<div class="modal" id="myModals" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Supprimer un compte</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<h2>Liste des comptes du client</h2>

<div class="well">
    <h2>Liste des comptes d'épargnes</h2>

    <a class="btn btn-info" href="@Url.Action("Create", "Accounts", new { id = Model.PersonID, typecompte = "Saving" })">
        Ajouter un compte épargne
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
    @*Fenetre modale pour la confirmation de modification*@
    @if (TempData["Edit"]?.ToString() == "Success")
    {
        <div id="modalEditSuccess" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modification du compte</h4>
                    </div>
                    <div class="modal-body alert alert-info">
                        <p>Le compte a été modifié.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="CloseDiv">
                            Fermer
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }

    @*Fenetre modale pour la confirmation de création*@
    @if (TempData["Create"]?.ToString() == "Success")
    {
        <div id="modalEditSuccess" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Création du compte</h4>
                    </div>
                    <div class="modal-body alert alert-info">
                        <p>Le compte a été crée.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="CloseDiv">
                            Fermer
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }

    @*Fenetre modale pour la confirmation de suppression*@
    @if (TempData["Delete"]?.ToString() == "Success")
    {
        <div id="modalEditSuccess" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Suppression du compte</h4>
                    </div>
                    <div class="modal-body alert alert-info">
                        <p>Le compte a été supprimé.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="CloseDiv">
                            Fermer
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }

    @if (Model.Savings.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().BankCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().BranchCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().IBAN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().BIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Savings.First().Balance)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Savings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IBAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @using (Html.BeginForm($"Delete/{item.AccountID}/Saving", "Accounts", FormMethod.Post, new { @class = "FormDelSaving" }))
                        {
                            <a class="btn btn-warning" href="@Url.Action("Edit","Accounts",
                                new { id = Model.PersonID, typecompte="Saving", idcompte = item.AccountID })">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <a class="btn btn-success" href="@Url.Action("Details","Accounts",
                                new {id = Model.PersonID,typecompte = "Saving", idcompte = item.AccountID})">
                                <span class="glyphicon glyphicon-zoom-in"></span>
                            </a>

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => item.AccountID, new { id = "idAccount" })

                            <button class="btn btn-danger Delete" type="submit" id="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                        }

                        @*<a class="btn btn-danger" href="@Url.Action("Delete", "Accounts", new { id = item.AccountID })">

                            </a>*@
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <H4>Le client n'a aucun compte d'épargne</H4>
    }
</div>
<div class="well">
    <h2>Liste des comptes courants</h2>
    <a class="btn btn-info" href="@Url.Action("Create", "Accounts", new { id = Model.PersonID, typecompte = "Deposit" })">
        Ajouter un compte courant
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
    @if (Model.Deposits.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().BankCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().BranchCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().IBAN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().BIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposits.First().Balance)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Deposits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IBAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @using (Html.BeginForm($"Delete/{item.AccountID}/Deposit", "Accounts", FormMethod.Post, new { @class = "FormDelDeposit" }))
                        {
                            @*<a class="btn btn-warning" href="@Url.Action("Edit","Accounts",
                new { id = Model.PersonID, typecompte="Saving", idcompte = item.AccountID })">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>*@
                            <a class="btn btn-warning" href="@Url.Action("Edit","Accounts",
                                new { id = Model.PersonID, typecompte="Deposit", idcompte = item.AccountID })">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-success" href="@Url.Action("Details","Accounts",
                                new {id = Model.PersonID,typecompte = "Deposit", idcompte = item.AccountID})">
                                <span class="glyphicon glyphicon-zoom-in"> <span class="glyphicon glyphicon-credit-card"></span></span>
                            </a>
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => item.AccountID, new { id = "idAccount" })

                            <button class="btn btn-danger Delete" type="submit" id="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                        }
                        @*<a class="btn btn-danger" href="@Url.Action("Delete", "Accounts", new { id = item.AccountID })">
            <span class="glyphicon glyphicon-trash"></span>
        </a>*@
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <H4>Le client n'a aucun compte courant.</H4>
    }
</div>

